<h2>Listado de productos</h2>
<div class="card" style="width: 18rem;">
  <img class="card-img-top" src="..." alt="Card image cap">
  <div class="card-body">
    <h5 class="card-title">PRODUCTO</h5>
    <p class="card-text">DESCRIPCION DEL PRODUCTO</p>
  </div>
  <ul class="list-group list-group-flush">
    <li class="list-group-item">Codigo</li>
    <li class="list-group-item">Categoria</li>
    <li class="list-group-item">Precio: </li>
    <li class="list-group-item">Stock</li>
  </ul>
    <a href="#">Agregar al carrito</a>
</div>